@media (orientation: landscape) {
    nav {
      font-size: 5vh;
    }

    nav>button {
      font-size: 5vh;
    }


    div#periodictable {
      padding: 14vh 5vw 28vh 5vw;
      width: 93vw;
    }


    #classess>button {
      padding: 0.2vw 0.3vw;
      margin: auto 0.5vw 0.5vw 0.5vw;
      font-size: 1.25vw;
      border: 2px solid transparent;
      border-radius: 1vw;
    }

    .point {
      border-radius: 100%;
      width: 0.6vw;
      height: 0.6vw;
      display: inline-block;
      margin-right: 0.3vw;
    }

    footer>#classess>#AlkaliMetaller>.point {
      background-color: #DBF8FF;
      border: 0.2vw solid #228A9E;
    }

    footer>#classess>#ToprakAlkaliMetaller>.point {
      background-color: #FFEBEB;
      border: 0.2vw solid #DF334F;
    }

    footer>#classess>#GecisMetalleri>.point {
      background-color: #F5ECFD;
      border: 0.2vw solid #6232EC;
    }

    footer>#classess>#Ametaller>.point {
      background-color: #E5F0FF;
      border: 0.2vw solid #0060F0;
    }

    footer>#classess>#DigerMetaller>.point {
      background-color: #DCFAEB;
      border: 0.2vw solid #002C00;
    }

    footer>#classess>#YariMetaller>.point {
      background-color: #FEF9E6;
      border: 0.2vw solid #945700;
    }

    footer>#classess>#Halojenler>.point {
      background-color: #EBE0CE;
      border: 0.2vw solid #89644A;
    }

    footer>#classess>#SoyGazlar>.point {
      background-color: #FFEBEE;
      border: 0.2vw solid #D02B68;
    }

    footer>#classess>#Lantanitler>.point {
      background-color: #E5F5FF;
      border: 0.2vw solid #7596AC;
    }

    footer>#classess>#Aktinitler>.point {
      background-color: #FFEADB;
      border: 0.2vw solid #D3582E;
    }

    footer>#classess>#BilinmeyenKimyasalOzellikler>.point {
      background-color: #CECECE;
      border: 0.2vw solid #333333;
    }
  }

  /*************************************************************************************************************/

  @media (orientation: portrait) {
    nav {
      font-size: 5vw;
    }

    nav>button {
      font-size: 5vw;
    }

    div#periodictable {
      padding: 5vh 10vw 15vh 10vw;
      width: 80vw;
    }

    #classess>button {
      padding: 0.2vh 0.3vh;
      margin: auto 0.5vh 0.5vh 0.5vh;
      font-size: 1.25vh;
      border: 2px solid transparent;
      border-radius: 1vh;
    }

    .point {
      border-radius: 100%;
      width: 0.6vh;
      height: 0.6vh;
      display: inline-block;
      margin-right: 0.3vh;
    }

    footer>#classess>#AlkaliMetaller>.point {
      background-color: #DBF8FF;
      border: 0.2vh solid #228A9E;
    }

    footer>#classess>#ToprakAlkaliMetaller>.point {
      background-color: #FFEBEB;
      border: 0.2vh solid #DF334F;
    }

    footer>#classess>#GecisMetalleri>.point {
      background-color: #F5ECFD;
      border: 0.2vh solid #6232EC;
    }

    footer>#classess>#Ametaller>.point {
      background-color: #E5F0FF;
      border: 0.2vh solid #0060F0;
    }

    footer>#classess>#DigerMetaller>.point {
      background-color: #DCFAEB;
      border: 0.2vh solid #002C00;
    }

    footer>#classess>#YariMetaller>.point {
      background-color: #FEF9E6;
      border: 0.2vh solid #945700;
    }

    footer>#classess>#Halojenler>.point {
      background-color: #EBE0CE;
      border: 0.2vh solid #89644A;
    }

    footer>#classess>#SoyGazlar>.point {
      background-color: #FFEBEE;
      border: 0.2vh solid #D02B68;
    }

    footer>#classess>#Lantanitler>.point {
      background-color: #E5F5FF;
      border: 0.2vh solid #7596AC;
    }

    footer>#classess>#Aktinitler>.point {
      background-color: #FFEADB;
      border: 0.2vh solid #D3582E;
    }

    footer>#classess>#BilinmeyenKimyasalOzellikler>.point {
      background-color: #CECECE;
      border: 0.2vh solid #333333;
    }
  }

  /*************************************************************************************************************/
  *::selection {
    background-color: transparent;
  }

  *::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    padding: 10px;
    background-color: #E5E5E5;
    border-radius: 100vh;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #CECECE;
    border-radius: 100vh;
  }

  /*
  #classess::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    padding: 10px;
    background-color: #E5E5E5;
    border-radius: 100vh;
  }

  #classess::-webkit-scrollbar-thumb {
    background-color: #CECECE;
    border-radius: 100vh;
  }

  nav::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    padding: 10px;
    background-color: #E5E5E5;
    border-radius: 100vh;
  }

  nav::-webkit-scrollbar-thumb {
    background-color: #CECECE;
    border-radius: 100vh;
  }
*/
  body {
    background-color: #fcfcfc;
    overscroll-behavior: none;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  div#periodictable {
    height: auto;
    display: grid;
    grid-template-columns: repeat(18, 10vh);
    overflow: scroll;
    grid-gap: 0.4vw;
    background-color: #fcfcfc;
    margin: 0;
  }

  .btn {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    width: 10vh;
    height: 10vh;
    margin: 0;
    padding: 0;
    background-color: #c0c0c0;
  }

  .btn:hover {
    border: 0.3vw solid #000000;
  }

  nav {
    height: fit-content;
    width: 100vw;
    background-color: #fcfcfc;
    z-index: 2;
    border-bottom: 0.1vh solid #c0c0c0;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  nav>button {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    aspect-ratio: 1 / 1;
    background-color: transparent;
  }

  nav>button:hover {
    background-color: #E5E5E5;
    cursor: pointer;
  }

  footer {
    background-color: #fcfcfc;
    font-size: 1.25vh;
    padding: 5px 10px;
    z-index: 2;
    width: 100vw;
    height: fit-content;
    position: fixed;
    top: 100%;
    left: 0%;
    transform: translate(0%, -100%);
    border-top: 0.1vh solid #c0c0c0;
  }
  footer>#classess>span>input{
      font-size: 1.25vh;
  }

  #classess>button:not(#classess > button:hover) {
    background-color: transparent;
  }

  #classess {
    white-space: nowrap;
    overflow-x: auto;
  }

  footer>#classess>button {
    cursor: pointer;
  }

  footer>#classess>#AlkaliMetaller:hover {
    background-color: #DBF8FF;
  }

  footer>#classess>#ToprakAlkaliMetaller:hover {
    background-color: #FFEBEB;
  }

  footer>#classess>#GecisMetalleri:hover {
    background-color: #F5ECFD;
  }

  footer>#classess>#Ametaller:hover {
    background-color: #E5F0FF;
  }

  footer>#classess>#DigerMetaller:hover {
    background-color: #DCFAEB;
  }

  footer>#classess>#YariMetaller:hover {
    background-color: #FEF9E6;
  }

  footer>#classess>#Halojenler:hover {
    background-color: #EBE0CE;
  }

  footer>#classess>#SoyGazlar:hover {
    background-color: #FFEBEE;
  }

  footer>#classess>#Lantanitler:hover {
    background-color: #E5F5FF;
  }

  footer>#classess>#Aktinitler:hover {
    background-color: #FFEADB;
  }

  footer>#classess>#BilinmeyenKimyasalOzellikler:hover {
    background-color: #CECECE;
  }

  footer>#classess>#HepsiniGoster:hover {
    background-color: #CECECE;
  }